.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  margin-top: var(--default-layout-header-height);
  padding: 0 var(--default-layout-horizontal-spacer);
  width: var(--default-layout-width, 1150px);
  max-width: 100%;
  display: flex;
}
.content {
  // background-color: aqua;
  flex: 1;
}
